$blue: rgb(17, 82, 147);

.superchat-container {
  color: #202020;
  margin: 0 20px;
  max-width: 600px;
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
  justify-content: end;
  padding: 10px 0;
}

#app {
  width: 100%;
}

.tips {
  display: flex;
  flex-direction: column;
  .tip {
    width: 400px;
    line-height: 1.4;
    margin-bottom: 10px;
    background-color: rgb(70, 70, 70);
    padding: 6px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
}

.sender-avatar {
  margin-right: 4px;
}

.fade-appear {
  transition: opacity 500ms;
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
}

.sender-info {
  margin-top: 4px;
  font-size: 14px;
  display: flex;
  align-items: baseline;
  // flex-direction: column;
}

.superchat {
  background-color: #b8b8b8;
  &.NINJET {
    background-color: #dacb00;

    .header {
      background-color: #b8ac00;
    }
  }
  &.NINJAGHINI {
    background-color: #00daaf;

    .header {
      background-color: #00b89f;
    }
  }

  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  outline: none;
  transition: box-shadow 100ms;
  &:focus {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.753);
    // 0px 0px 5px 0px rgba(255, 255, 255, 0.63),
    // 0px 0px 3px 0px rgba(255, 255, 255, 0.623);
    // border: 6px solid white;
  }
  .header {
    display: flex;
    align-items: center;
    background-color: #979797;
    padding: 2px 4px;
  }
  .message {
    font-size: 14px;
    padding: 6px 14px;
    // margin: 10px 10px;
    // margin-left: 14px;
    // margin-bottom: 8px;
    // margin-top: 6px;
  }

  // .ICE_CREAM {
  //   background-color: #00daaf;
  // }
  // .DIAMOND {
  //   background-color: #95a3e054;
  // }
  // .NINJAGHINI {
  //   background-color: #8dc03b;
  // }
  // .NINJET {
  //   background-color: #d6c90d;
  // }
}

.chest {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  > div {
    display: flex;
    align-items: center;
    color: white;
    background-color: #4a4a4a;
    // @extend .card-base;
    width: max-content;
    text-transform: lowercase;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 4px 8px;
    margin-top: -50px;
    > div {
      margin-left: 10px;
    }
    border-radius: 4px;
    outline: none;

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    opacity: 0;
    transition: all 200ms;
    // height: 0;
    &:focus {
      opacity: 1;
    }
  }
}

// .fade-up-appear {
//   transition: all 200ms;
//   opacity: 0;
// }

// .fade-up-enter {
//   opacity: 1;
// }

.error-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;

  .error-message {
    display: flex;
    align-items: center;
    padding: 2px 16px;
    border-radius: 4px;
    color: rgb(97, 26, 21);
    background-color: rgb(253, 236, 234);

    .message {
      display: flex;
      padding: 8px 0;
      flex-direction: column;
      justify-content: center;
    }
    .error-icon {
      display: flex;
      opacity: 0.9;
      padding: 7px 0;
      font-size: 22px;
      margin-right: 12px;

      display: flex;
      align-items: center;
    }
  }
}

button {
  color: rgba(0, 0, 0, 0.87);
  @extend .card-base;
}

.card-base {
  padding: 6px 16px;
  font-size: 14px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: border-box;
}

.fixed-header {
  left: 660px;
  flex-direction: column;

  background: rgb(49, 49, 49);

  // left: 650px;
  // background: #f9f9f9;
  font-size: 14px;
  position: fixed;
  top: 10px;
  min-width: max-content;
  // width:100%;
  // left: 0;
  // align-items: flex-end;
  justify-content: center;
  // align-items: center;
  padding: 10px;

  // height: 0;
  // font-weight: bold;
  // width: 100%;
  display: flex;
  // overflow: scroll;
  // overflow: visible;
  // top: 10px;
  // left: 10px;

  .price-filter {
    margin-left: 4px;
    width: 60px;
    border-radius: 4px;
    border: none;
    padding: 6px 2px;
    outline: none;
    color: white;
    background-color: #4a4a4a;
  }

  > div,
  > button {
    display: flex;
    align-items: center;
    margin: 0 10px;
    margin-top: 10px;
  }

  .MuiCheckbox-root {
    color: white;
  }

  .streamer-info {
    display: flex;
    margin-left: 20px;
    // align-items: center;
    .streamer-check {
      display: flex;
      align-items: center;
      color: rgb(125, 202, 9);
    }
  }
  .clear-superchats {
    align-self: flex-end;
    max-width: max-content;
    margin-top: 60px;
    color: #fff;
    background-color: $blue;
    // background-color: rgb(220, 0, 78);
    // background-color: salmon;
    padding: 8px 6px;

    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
  }
}

.datetime {
  font-size: 12px;
}

.money {
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 2px;
}
body {
  background-color: #272727;
  color: #e2e2e2;
  // color: #202020;
  // background-color: #f9f9f9;
  // font-family: 'Open Sans';
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
